.full-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  // height: 15rem;
  // min-width: 60rem;

  &__content {
    flex-grow: 1;

    &--container {
      // max-width: 40rem;
      margin: 1rem;
    }
  }
}
